[submodule "docs/state-diff/lib/forge-std"]
	path = docs/state-diff/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "docs/state-diff/lib/openzeppelin-contracts"]
	path = docs/state-diff/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
